@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500&display=swap');

* {
  z-index: 3;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #0c0d0f;
  color: rgba(255, 255, 255, 0.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  color: #fff;
}

.driftcarousel img {
  box-shadow: 0px 0px 20px 0px rgba(155, 43, 43, 0.75);
  border-radius: 2%;
  animation: driftCarouselImg 5s infinite;
}

/* .driftcarousel img:nth-child(1),
.driftcarousel img:nth-child(2) {
  box-shadow: none;
} */

@keyframes driftCarouselImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02) translateY(-2%);
  }
  100% {
    transform: scale(1);
  }
}

.navbarAnimation {
  animation: navbarAnimation 5s;
}

@keyframes navbarAnimation {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.heroAnimation1 {
  animation: heroAnimation1 1s;
}

@keyframes heroAnimation1 {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(0%);
  }
}

.heroAnimation2 {
  animation: heroAnimation2 2s;
}

@keyframes heroAnimation2 {
  0% {
    transform: translateX(80vw);
  }
  50% {
    transform: translateX(80vw);
  }
  100% {
    transform: translateX(0%);
  }
}

.heroAnimation3 {
  animation: heroAnimation3 3s;
}

@keyframes heroAnimation3 {
  0% {
    transform: translateY(60vh);
  }
  66% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(0%);
  }
}
