@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #0C0D0F;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  animation-name: moveParticle;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveParticle {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(calc(var(--direction) * 1vw), calc(var(--direction) * 1vh));
  }
}